iframe {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
background: url('/assets/images/polina.jpg') no-repeat;
background-size: cover;
}

.flyer {
  width: 50%;
  position: relative;
  margin-bottom: 100px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.50), 10px 10px 20px rgba(0, 0, 0, 0.40);
}

#after2 {
  margin-top: 50px;
}
